- extends "ekklesia_portal/layout.j2.jade"

- block title
  title= _("title_new_draft")

- block content
  h2= _("title_new_draft")

  if related_proposition_url
    p
      = relation_type_title
      |&nbsp;
      a(href=related_proposition_url)= related_proposition_title

  = new_draft_explanation|markdown

  = form_html

//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
